<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h2>User information for Admin</h2>

<p>
    <span>User id:</span>
    <span th:text="${user.getId()}">id</span>

<p>
    <span>User first name:</span>
    <span th:text="${user.getFirstName()}">firstName</span>

<p>
    <span>User last name:</span>
    <span th:text="${user.getLastName()}">lastName</span>

<p>
    <span>User age:</span>
    <span th:text="${user.getAge()}">age</span>

<p>
    <span>User email:</span>
    <span th:text="${user.getEmail()}"> email</span>


<p>
    <span>User login:</span>
    <span th:text="${user.getLogin()}">login</span>

<p>
    <span>User password:</span>
    <span th:text="${user.getPassword()}">password</span>

<p>
    <span>User roles:</span>
    <span th:each="role, i: ${user.getRoles()}"
          th:text="!${i.last} ? ${role.getRoleName().substring(5)+','} : ${role.getRoleName().substring(5)}"> Roles
    </span>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>