<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <link rel="stylesheet" href="C:/Users/pcjme/OneDrive/JavaCourse/JavaMent/PreProject/Chapter_3/Task312/src/main/resources/static/css/main.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Title</title>
</head>
<body>

<header>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col text-light">
                    <span th:text="${loggedInUser.email}">userEmail</span>
                    <span> with roles:</span>
                    <span th:each="role, i: ${loggedInUser.roles}"
                          th:text="!${i.last} ? ${role.roleName.substring(5)+','} : ${role.roleName.substring(5)}">Roles
                    </span>
            </div>
            <div class="col text-light" style="text-align: right">
                <form th:action="@{/logout}" method="post">
                        <input class="btn text-light" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 vh-100">
                <ul class="d-grid gap-2 nav nav-pills nav-fill">
                    <li class="nav-item" sec:authorize="hasRole('Admin')">
                        <button class="btn btn-primary nav-link active" data-bs-toggle="pill" data-bs-target="#pills-admin" style="text-align: left">
                            Admin
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-primary nav-link" id="user-button" data-bs-toggle="pill" data-bs-target="#pills-user" style="text-align: left">
                            User
                        </button>
                    </li>
                </ul>
            </div>

            <div class="col-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-admin" sec:authorize="hasRole('Admin')">
                        <h3>Admin panel</h3>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#users_table">Users table</a></li>
                                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#new_user">New user</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="users_table">
                                    <table class="table table-striped">
                                        <caption class="caption-top fw-bold">All users</caption>
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>FirstName</th>
                                                <th>LastName</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user: ${usersList}">
                                                <td th:text="${user.id}">Id</td>
                                                <td th:text="${user.firstName}">FirstName</td>
                                                <td th:text="${user.lastName}">LastName</td>
                                                <td th:text="${user.age}">Age</td>
                                                <td th:text="${user.email}">Email</td>
                                                <td>
                                                    <span th:each="role, i: ${user.roles}"
                                                          th:text="!${i.last} ? ${role.roleName.substring(5)+','} : ${role.roleName.substring(5)}">Roles
                                                    </span>
                                                </td>

                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button class="btn btn-info"
                                                            data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#editModal-' + ${user.id}">
                                                        Edit
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" th:attr="id='editModal-' + ${user.id}" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">

                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Edit user</h5>
                                                                    <button class="btn-close" data-bs-dismiss="modal"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <div class="container">
                                                                        <div class="row justify-content-center" style="text-align: center">
                                                                            <div class="col-5">
                                                                                <form th:action="@{/admin/edit}"
                                                                                      th:attr="id='editForm' + ${user.id}"
                                                                                      th:method="post">

                                                                                    <input class="form-control" type="text" name="id" th:attr="value=${user.id}" hidden>

                                                                                    <label class="form-label text-center fw-bold">Id</label>
                                                                                    <input class="form-control" type="text" name="id" th:attr="value=${user.id}" disabled>

                                                                                    <label class="form-label text-center fw-bold">First Name</label>
                                                                                    <input class="form-control" type="text" name="firstName" th:attr="placeholder=${user.firstName}">

                                                                                    <label class="form-label text-center fw-bold">Last name</label>
                                                                                    <input class="form-control" type="text" name="lastName" th:attr="placeholder=${user.lastName}">

                                                                                    <label class="form-label text-center fw-bold">Age</label>
                                                                                    <input class="form-control" type="text" name="age" th:attr="placeholder=${user.age}">

                                                                                    <label class="form-label text-center fw-bold">Email</label>
                                                                                    <input class="form-control" type="text" name="email" th:attr="placeholder=${user.email}">

                                                                                    <label class="form-label text-center fw-bold">Password</label>
                                                                                    <input class="form-control" type="text" name="password">

                                                                                    <label class="form-label text-center fw-bold">Role</label>
                                                                                    <select class="form-control" multiple size="2" name="roles">
                                                                                        <option value="ROLE_Admin">Admin</option>
                                                                                        <option value="ROLE_User">User</option>
                                                                                    </select>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button class="btn btn-danger" type="submit" th:attr="form='editForm' + ${user.id}">Edit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button class="btn btn-danger"
                                                            data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#deleteModal-' + ${user.id}">
                                                        Delete
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" th:attr="id='deleteModal-' + ${user.id}" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">

                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Delete user</h5>
                                                                    <button class="btn-close" data-bs-dismiss="modal"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <div class="container">
                                                                        <div class="row justify-content-center" style="text-align: center">
                                                                            <div class="col-5">
                                                                                <form th:attr="id='deleteForm' + ${user.id}"
                                                                                      th:method="post"
                                                                                      th:action="@{/admin/users/{id}/delete(id=${user.id})}">

                                                                                    <label class="form-label text-center fw-bold">Id</label>
                                                                                    <input class="form-control" type="text" th:attr="value=${user.id}" disabled>

                                                                                    <label class="form-label text-center fw-bold">First Name</label>
                                                                                    <input class="form-control" type="text" th:attr="value=${user.firstName}" disabled>

                                                                                    <label class="form-label text-center fw-bold">Last name</label>
                                                                                    <input class="form-control" type="text" th:attr="value=${user.lastName}" disabled>

                                                                                    <label class="form-label text-center fw-bold">Age</label>
                                                                                    <input class="form-control" type="text" th:attr="value=${user.age}" disabled>

                                                                                    <label class="form-label text-center fw-bold">Email</label>
                                                                                    <input class="form-control" type="text" th:attr="value=${user.email}" disabled>

                                                                                    <label class="form-label text-center fw-bold">Role</label>
                                                                                    <select class="form-control" multiple size="2" disabled>
                                                                                        <option th:each="role : ${user.roles}"
                                                                                                th:text="${role.roleName.substring(5)}">
                                                                                        </option>
                                                                                    </select>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button class="btn btn-danger" type="submit" th:attr="form='deleteForm' + ${user.id}">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="new_user">
                                    <h4>Add new user</h4>
                                    <div class="container">
                                        <div class="row justify-content-center" style="text-align: center">
                                            <div class="col-5">
                                                <div>
                                                    <form th:method="POST"
                                                          th:action="@{/admin/create}"
                                                          th:object="${newUser}">

                                                        <label class="form-label fw-bold">First name</label>
                                                        <input class="form-control bg-warning" type="text" th:field="*{firstName}">

                                                        <label class="form-label fw-bold">Last name</label>
                                                        <input class="form-control bg-warning" type="text" th:field="*{lastName}">

                                                        <label class="form-label fw-bold">Age</label>
                                                        <input class="form-control" type="number" th:field="*{age}">

                                                        <label class="form-label fw-bold">Email</label>
                                                        <input class="form-control .bg-warning" type="email" th:field="*{email}" required>

                                                        <label class="form-label fw-bold">Password</label>
                                                        <input class="form-control" type="password" th:field="*{password}">

                                                        <label class="form-label fw-bold">Role</label>
                                                        <select class="form-select" size="2" name="userRoles" multiple>
                                                            <option value="ROLE_Admin">Admin</option>
                                                            <option value="ROLE_User">User</option>
                                                        </select>
                                                        <br>
                                                        <input class="btn btn-success" type="submit" value="Add new user"/>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="tab-pane fade show" id="pills-user">
                        <h3>User information page</h3>
                        <table class="table table-striped">
                            <caption class="caption-top fw-bold"><b>About user</b></caption>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${loggedInUser.id}">Id</td>
                                    <td th:text="${loggedInUser.firstName}">FirstName</td>
                                    <td th:text="${loggedInUser.lastName}">LastName</td>
                                    <td th:text="${loggedInUser.age}">Age</td>
                                    <td th:text="${loggedInUser.email}">Email</td>
                                    <td>
                                        <span th:each="role, i: ${loggedInUser.roles}"
                                              th:text="!${i.last} ? ${role.roleName.substring(5)+','} : ${role.roleName.substring(5)}">Roles
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:inline="javascript">
    if(![[${#authorization.expression('hasRole(''ROLE_Admin'')')}]]){
        document.getElementById('user-button').className = 'btn btn-primary nav-link active';
        document.getElementById('pills-user').className = 'tab-pane fade show active';
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous">
</script>
</body>
</html>